* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ddd;
}

main {
  font-family: 'Ubuntu Condensed', sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 50px;
}

#menu {
  display: flex;
  flex-direction: column;
  width: 400px;
  align-items: center;
  line-height: 25px;
}

fieldset {
  width: 300px;
  padding: 20px;
}

legend {
  font-size: 25px;
}

label {
  font-size: 18px;
}

#order {
  font-family: 'Caveat', cursive;
  font-size: 30px;
  display: flex;
  flex-direction: row;
  width: 500px;
  align-items: center;
  justify-content: space-around;
  line-height: 45px;
  background-color: rgb(255, 243, 132);
}

#what {
  width: 300px;
}