body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: #fff1e1;
    font-size: 20px;
}

main {
  margin: 40px;
}

#section img {
  margin: 0 40px;
}

.inner-section {
  display: flex;
  flex-direction: row;
  margin: 20px 0;
  align-items: center;
}

.reverse-inner-section {
  display: flex;
  flex-direction: row-reverse;
  margin: 20px 0;
  align-items: center;
}

.title {
  font-size: 50px;
}