* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu Condensed', sans-serif;
  border-radius: 5px;
}

*::-webkit-scrollbar {
  width: 2px;
  background-color: #414141;
}

body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh 5vw;
  margin: 4vh 4vw;
  border-radius: 15px;
  background-color: #ddd;
}

.form {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 50vw;
  margin-bottom: 10px;
}

input {
  border: 1px solid;
  width: 20%;
  height: 30px;
  margin: 2px;
  background-color: #86ffcd;
  cursor: pointer;
}

input::-webkit-input-placeholder {
  text-align: center;
}

.line {
  display: flex;
  flex-direction: row;
}

.table {
  width: 50vw;
}

.line div {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  width: 20%;
  height: 30px;
  margin: 2px;
}

#dataClients {
  overflow-y: scroll;
  height: 50vh;
  background-color: #eee;
}

#drop {
  position: absolute;
  right: 23vw;
  top: 9vh;
  font-size: 40px;
  z-index: 1;
  cursor: pointer;
}

#instructions {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 17vh;
  right: 22vw;
  width: 350px;
  padding: 20px;
  border-radius: 15px;
  border: solid #414141;
  background-color: #fff;
}

#showTotalPerClient {
  display: none;
  flex-direction: column;
  position: absolute;
  bottom: 17vh;
  left: 25vw;
  width: 50vw;
  height: 30vh;
  border-radius: 15px;
  overflow-y: scroll;
  border: solid #414141;
  background-color: #fff;
}

#totalPerClient {
  cursor: pointer;
  background-color: #86ffcd;
}